In [121]:
import pandas as pd
import numpy as np
import os

# import the data
os.listdir('../ml')
data = pd.read_pickle('../ml/training_data.pkl').dropna().query('tournament_id == 4')
data.head()

,tournament_id,player_name,score,Alabama,Arizona,California,Canada,Connecticut,Delaware,Florida,...,app,ott,t2g,result,tournament_putt,tournament_arg,tournament_app,tournament_ott,tournament_t2g,tournament_cluster
22926,4,Sam Burns,5,0,0,0,0,0,0,0,...,0,1,2,0,-0.082809,-0.089213,-0.201685,-0.114494,-0.405169,3
22927,4,Seamus Power,4,0,0,0,0,0,0,0,...,0,0,2,1,-0.082809,-0.089213,-0.201685,-0.114494,-0.405169,3
22928,4,Tom Hoge,7,0,0,0,0,0,0,0,...,1,0,3,1,-0.082809,-0.089213,-0.201685,-0.114494,-0.405169,3
22929,4,Max Homa,14,0,0,0,0,0,0,0,...,0,0,3,1,-0.082809,-0.089213,-0.201685,-0.114494,-0.405169,3
22930,4,Gary Woodland,8,0,0,0,0,0,0,0,...,1,0,3,0,-0.082809,-0.089213,-0.201685,-0.114494,-0.405169,3

In [122]:
import pymongo

# importing tournament data
string = "mongodb+srv://andre514:Jackie287@strokes-gained.hwkuxky.mongodb.net/?retryWrites=true&w=majority"
conn = pymongo.MongoClient(string)
conn.list_database_names()

['strokes-gained', 'admin', 'local']

In [123]:
# connecting to db
db = conn['strokes-gained']
db.list_collection_names()

['tournaments', 'tournament_clusters', 'players']

In [124]:
# grabbing data
collection = db['tournaments']
pd.DataFrame(list(collection.find({'name': 'The Masters'}, {'_id': 0, 'tournament_id': 1, 'name': 1})))

   tournament_id         name
0              4  The Masters
1             45  The Masters

In [125]:
# get only numeric columns i'm interested in
cols = ['score'] # list holding columns names

for col in data.columns:
    dtype = data[col].dtype
    if dtype == 'float':
        cols.append(col)
        
# descriptive stats
data[cols].agg([ np.min, np.mean, np.max, np.std])

,score,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total,tournament_putt,tournament_arg,tournament_app,tournament_ott,tournament_t2g
amin,-10.000000,-3.190000,-2.870000,-3.460000,-3.390000,-8.260000,-8.780000,-8.280899e-02,-8.921348e-02,-2.016854e-01,-1.144944e-01,-4.051685e-01
mean,6.157303,-0.082809,-0.089213,-0.201685,-0.114494,-0.405169,-0.490337,-8.280899e-02,-8.921348e-02,-2.016854e-01,-1.144944e-01,-4.051685e-01
amax,22.000000,2.720000,1.930000,2.350000,1.240000,3.830000,4.360000,-8.280899e-02,-8.921348e-02,-2.016854e-01,-1.144944e-01,-4.051685e-01
std,5.680707,1.106774,0.866338,1.125655,0.905556,2.117922,2.330764,6.978208e-17,1.116513e-16,4.186925e-16,1.395642e-16,2.791283e-16

In [126]:
# counting number of winners
data[data['pos'] == '1']['pos'].value_counts()

1    1
Name: pos, dtype: int64

In [147]:
import statsmodels.api as sm
import statsmodels.stats.api as sms

import seaborn as sns
import matplotlib.pyplot as plt

# get data
x = data[['sg_putt', 'sg_app', 'sg_ott', 'sg_arg']]; x = sm.add_constant(x)
y = data['score']

# plot
# sns.set_theme()
# sns.regplot(data=data, x='sg_app', y='score', line_kws={'color': 'orange'})
# plt.show()

# fit model
model = sm.OLS(y, x).fit()
print(f'the durbin watson is: {sms.durbin_watson(model.resid):.2f}', end='\n')
print(f'the breusch pagan test: {sms.het_breuschpagan(model.resid, model.model.exog)[1]}')
model.summary()

the durbin watson is: 1.82
the breusch pagan test: 0.4607640774873719

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.861
Model:                            OLS   Adj. R-squared:                  0.854
Method:                 Least Squares   F-statistic:                     130.0
Date:                Mon, 20 Mar 2023   Prob (F-statistic):           3.81e-35
Time:                        23:37:01   Log-Likelihood:                -192.58
No. Observations:                  89   AIC:                             395.2
Df Residuals:                      84   BIC:                             407.6
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.0769      0.235     21.600      0.000       4.610       5.544
sg_putt       -2.5026      0.213    -11.776      0.000      -2.925      -2.080
sg_app        -1.9276      0.220     -8.753      0.000      -2.366      -1.490
sg_ott        -2.0815      0.280     -7.434      0.000      -2.638      -1.525
sg_arg        -2.7581      0.290     -9.500      0.000      -3.336      -2.181
==============================================================================
Omnibus:                       16.801   Durbin-Watson:                   1.824
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               20.118
Skew:                           0.970   Prob(JB):                     4.28e-05
Kurtosis:                       4.288   Cond. No.                         1.83
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""